<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=DESKTOP-STI9B78\SQLEXPRESS;Database=Tournaments;Trusted_Connection=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>	
</configuration>